ul{list-style: none;}
a{text-decoration: none;}
h1{margin:0; padding: 0;}
body{background-image: url(../images/background.jpg);}
.body{
	width: 1000px;
	margin:0 auto;
}
.reg{
	width: 400px;
	height: 610px;
	border: 1px solid #C0C1B3;
	margin :30px auto;
}
.regtitle{
	width: 360px;
	height: 40px;
	margin: 0 auto;
	border-bottom: 1px solid #F4FFE6;

	}
.signin{
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
}
.login{
	float: right;
	font-size: 15px;
	color: #47CD31;
	line-height: 40px;
}
.login a{color:#fff;}






.regbox{width:360px;margin:30px 0 0 20px;float:left;}
.regbox li{height:70px;}
.regbox li label{width:70px;height:40px;line-height:40px;float:left;font-size:15px;color:black;font-weight:bold}
.regbox li input{width:288px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
.regbox li.agreement input{width:15px;height:15px;float:left;margin-top:13px}
.regbox li.agreement label{width:300px;float:left;margin-left:10px;}
.regbox li.reg_sub input{width:360px;height:40px;background-color:#47aa34;font-size:18px;color:#fff;font-family:'Microsoft Yahei';cursor:pointer;}
.regbox li .error_tip{float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;display:none;}
.regbox li .error_tip2{float:left;height:20px;line-height:20px;color:#e62e2e;display:none;}
#catcode{width:195px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
.catbut{cursor:pointer;width:91px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;background-color:#f8f8f8;line-height:38px;font-size: 15px;color: #55991A;font-weight: bold;text-align:center;}
#piccatcode{width:195px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
.piccatbut{cursor:pointer; width:91px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;background-color:#f8f8f8;line-height:38px;font-size: 15px;color: #55991A;font-weight: bold;text-align:center;}
.ucatbut{width:91px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;background-color:#D7D7D7;line-height:38px;font-size: 15px;color:#BFBFBF;font-weight: bold;text-align:center;}
catbut