{%extends 'base.html'%}
{%block content1%}
<div class="arttitle"><div class="newart">这里是您想要找的内容：</div></div>
		<!-- 后台填数据需要重复的部分 -->

	<div class="artbox">
		{%for data in page.object_list%}
		<hr>

		<div class="art">
			<div class="artpic"><img src="/statics/media/{{data.object.artPic}}"></div>
			<div class="artcontent">
			<h3>{{data.object.artTitle}}</h3>
        <h5>{{data.object.artFTitle}}</h5>
			<div class="artdetails">{{data.object.art|safe}}</div>
			<a href="{%url 'htmlPageApp:details' data.object.id%}"><div class="artdetailss">[详情]</div></a>

		</div>
			<div class="artmsg">&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true">&nbsp;{{data.object.createTime}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true">&nbsp;{{data.object.lookTip}}</i>&nbsp;&nbsp;&nbsp;<i class="fa fa-heart" aria-hidden="true">&nbsp;{{data.object.goodTip}}</i>&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting-o" aria-hidden="true">&nbsp;{{data.object.sayTip}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true">{%if data.object.artDivide == 0%}&nbsp;技术分享{%else%}&nbsp;读书笔记{%endif%}</i></div>


		</div>

        {% empty %}
        <a>
		<div class="art">
			<div class="artpic"><img></div><div class="artcontent">
			<h3>没有找到您想要的内容</h3>
        <h5>您可以尝试更换关键词来再次进行搜索！</h5>
		</div>
		</div>
		</a>
		{%endfor%}



		<!-- 这个hr是最后一个起美观作用的不包含在每一个文章元素内 -->
		<hr>
	</div>
<div class="pageNum">
			<div class="pagenation">
				{%if page.has_previous%}
				<a href="{%url 'htmlPageApp:listPage' page.previous_page_number sortnum%}"><上一页</a>
				{%else%}
				<a href=""><上一页</a>
				{%endif%}
				{%for i in page.paginator.page_range%}
				{%if i == page.number%}
				<a href="#" class="active">{{i}}</a>
				{%else%}
				<a href="{%url 'htmlPageApp:listPage' i sortnum%}">{{i}}</a>
				{%endif%}
				{%endfor%}
				{%if page.has_next%}
				<a href="{%url 'htmlPageApp:listPage' page.next_page_number sortnum%}"><下一页</a>
				{%else%}
				<a href=""><下一页</a>
				{%endif%}
			</div>
</div>
{%endblock content1%}