body{background-image: url(../images/background.jpg);}
.login_form{width:368px;height:600px;border:1px solid #c6c6c5;margin:50px auto 0; color: #fff;}

.login_title{height:60px;width:308px;margin:10px auto;border-bottom:1px solid #e0e0e0;}

.login_title h1{font-size:24px;height:60px;line-height:60px;color:#fff;float:left;font-weight:bold;margin-left:44px;}
.login_title a{width:100px;height:20px;display:block;font-size:16px;color:#fff;text-indent:26px;float:left;margin:20px 0 0 36px}

.form_input{width:308px;height:250px;margin:20px auto;position:relative;}
.name_input,.pass_input{width:306px;height:36px;border:1px solid #e0e0e0;background:url(../images/icons02.png) 280px -41px no-repeat #f8f8f8;outline:none;font-size:14px;text-indent:10px;position: absolute;left:0;top:0}
.pass_input{top:65px;background-position:280px -95px;}
.cat_input{width:215px;height:38px;border:1px solid #e0e0e0;outline:none;font-size:14px;
            text-indent:10px;position: absolute;left:0;top:128px;float:left;}
.cat_but{top:128px;width:91px;height:38px;border:1px solid #e0e0e0;position: absolute;left:227;display:inline-block;margin-left:217px;}

.user_error,.pwd_error,.cat_error{color:#f00;position:absolute;left:0;top:39px;display:none;}

.pwd_error{top:103px;}
.cat_error{top:166px;}

.more_input{position:absolute;left:0;top:190px;width:100%}

.more_input input{float:left;margin-top:2px;}
.more_input label{float:left;margin-left:10px;}
.more_input a{float:right;color:#fff;}
.more_input a:hover{color:#ff8800}

.input_submit{border-radius:2px;width:100%;height:40px;position:absolute;left:0;top:230px;background-color:#47aa34;color:#fff;font-size:22px;border:0px;font-family:'Microsoft Yahei';cursor:pointer;}
h1{margin:0;padding: 0;}
a{text-decoration: none;}
.three_login{
    line-height:40px;border-radius:2px;text-align:center;width:100%;height:40px;position:absolute;left:0;background-color:#47aa34;color:#fff;font-size:18px;border:0px;font-family:'Microsoft Yahei';cursor:pointer;
}
.qq_three_login{top:300px;background-color:#1D89FC;}
.wechat_three_login{top:360px;background-color:#17D21A;}
.sina_three_login{top:420px;background-color:#FC4618;}
